<script src="https://giscus.app/client.js"
        data-repo="twicy/twicy.github.io"
        data-repo-id="R_kgDOKsYIrw"
        data-category="Comments"
        data-category-id="DIC_kwDOKsYIr84Czpgb"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>